body {
    
    background: rgb(0, 0, 0);
}
.myCanvas {
  width: '100vw';
  height: clamp(300px, 100vh, 100vh);
}
.canvas-container {
    width: 100vw;
    height: 600px;
    overflow: hidden;
  }
  /* Adjust canvas size for different screen sizes */
  @media (max-width: 1200px) {
    .canvas-container {
      width: 96vw;
      height: 65vh;
    }
  }
  
  @media (max-width: 992px) {
    .canvas-container {
      width: 94vw;
      height: 60vh;
    }
  }
  
  @media (max-width: 768px) {
    .canvas-container {
      width: 92vw;
      height: 55vh;
    }
  }
  
  @media (max-width: 576px) {
    .canvas-container {
      width: 90vw;
      height: 50vh;
    }
  }